/*====  FOOTER ============================ */
footer {
  background: var(--base-color);
  width: 100%; /* Garante que o footer cubra toda a largura da tela */
  padding: 4rem 1.5rem; /* Adiciona padding para espaços internos */
}

footer .container {
  max-width: 1120px; /* Limita a largura máxima do conteúdo do rodapé */
  margin: 0 auto; /* Centraliza o conteúdo do rodapé */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-left: 1rem;
  text-align: left;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/*========= MEDIA QUERIES =========*/
/* Small devices: < 576px */
@media (max-width: 575.98px) {
  footer .container {
    padding: 2rem 1rem; /* Ajusta o padding para dispositivos pequenos */
  }

  footer .brand {
    flex-direction: column;
    align-items: center;
  }

  footer .social {
    justify-content: center;
    width: 100%;
  }
}

/* Medium devices: 576px > 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  footer .brand {
    flex-direction: column;
    align-items: center;
  }
}

/* Large devices: 768px > 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Extra large devices: 1200px > */
@media (min-width: 1200px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
